/* guía:
01 - Universal
02 - Header
03 - Intro
04 - Islas
05 - Footer

/* ///////////////////////////////////////////////////////////////////// 
//  01 - Universal
/////////////////////////////////////////////////////////////////////*/

html, body {
    height:100%;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

body {
	font-family: 'ZCOOL XiaoWei', sans-serif;
	background-color:#D4ECEF;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Dosis', sans-serif;
}
a {
	color: #e66f69;
	transition: 0.4s ease all;
	outline: none;
}
a:hover,a:active,a:focus{
	text-decoration: none;
	color: #e66f69;
	opacity: 0.9;
	outline: none;
}
.btn {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    font-size: 1.2em;
    transition: 0.4s ease all;
}
.btn:hover {
    background: #fff;
    color: #000;
}
.block_title {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    margin-bottom: 70px;
}
.block_title:before,.block_title:after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.block_title:before {
    right: 0.5em;
    margin-left: -42%;
}
.block_title:after {
    left: 0.5em;
    margin-right: -42%;
}

.bloque{
	display:inline-block
}

/* ///////////////////////////////////////////////////////////////////// 
//  03 - Inicio
/////////////////////////////////////////////////////////////////////*/

#portfolio img {
    	height:90%;
    	width:90%;
	margin-top:0px;
	position:relative;
	left:5%;
	
}
	

/* ///////////////////////////////////////////////////////////////////// 
//  04 - Islas 
/////////////////////////////////////////////////////////////////////*/

.islas form{
	width:100%;
	display:flex;
	justify-content:center;
}

.boton {
	width:100%;
	margin:auto;
	height:
	
}

.oculto{
	height:90%;
    	width:90%;
	margin-top:0px;
	position:relative;
	left:5%;
	
}
	

#boga {
        background-image:url('Imagenes/Isla Boga.jpg');
        background-position:center;
}

#bauhaus {
        background:url('Imagenes/Isla Bauhaus.jpg');
        background-position:center;
}

#jaula {
        background:url('Imagenes/Isla Jaula.jpg') no-repeat;
        background-position:center;
}

#pieza {
        background:url('Imagenes/Isla Pieza.jpg')no-repeat;
        background-position:center;
}
#fad {
        background:url('Imagenes/Isla Fad.jpg')no-repeat;
        background-position:center;
}



/* ///////////////////////////////////////////////////////////////////// 
//  05 - Footer 
/////////////////////////////////////////////////////////////////////*/



footer {
    width: 100%;
    background: #000;
    color: #fff;
}
.copyright {
    margin: 0;
    padding: 20px 0px;
    text-align: left;
}
.designed {
    margin: 0;
    padding: 20px 0px;
    text-align: right;
}
.designed a:hover {
    color: #e66f69;
}

