/* guía:
01 - Universal
02 - Header
03 - Intro
04 - Islas
05 - Footer

/* ///////////////////////////////////////////////////////////////////// 
//  01 - Universal
/////////////////////////////////////////////////////////////////////*/

html, body {
    height:100%;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

body {
	font-family: 'ZCOOL XiaoWei', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Dosis', sans-serif;
}
a {
	color: #e66f69;
	transition: 0.4s ease all;
	outline: none;
}
a:hover,a:active,a:focus{
	text-decoration: none;
	color: #e66f69;
	opacity: 0.9;
	outline: none;
}
.btn {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    font-size: 1.2em;
    transition: 0.4s ease all;
}
.btn:hover {
    background: #fff;
    color: #000;
}
.block_title {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    margin-bottom: 70px;
}
.block_title:before,.block_title:after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.block_title:before {
    right: 0.5em;
    margin-left: -42%;
}
.block_title:after {
    left: 0.5em;
    margin-right: -42%;
}

.bloque{
	display:inline-block
}


/* ///////////////////////////////////////////////////////////////////// 
//  02 - Header 
/////////////////////////////////////////////////////////////////////*/

#header img{
	heigt:100%;
	width:100%;
	position:center;
	margin-left:20px;
	margin-right:20px;
	margin_bottom:0px;
	padding-bottom:0px;
	
}

.scrollDown {
    font-size: 4em;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 10%;
    left: 49%;
}
.scrollDown:hover{
	color: rgba(255, 255, 255, 0.4);
	transition: 0.4s ease all;
}

/* ///////////////////////////////////////////////////////////////////// 
//  03 - Intro 
/////////////////////////////////////////////////////////////////////*/

.intro-area img{
	width:100%;
	height:100%;
	position:center;
	margin-left:20px;
	margin-right:20px;
	margin-top:0px;
	padding-top:0px
}
	
	

/* ///////////////////////////////////////////////////////////////////// 
//  04 - Islas 
/////////////////////////////////////////////////////////////////////*/

.islas {
    max-width: 293px;
    height: 263px;
}
.exp{
	padding-top: 76px;
}
.islas-area {
    margin: 80px 0px 40px 0px;
}

.islas-wrap {
    width: 100%;
    height: 100%;
    border: 1px solid #B5B5B5;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.islas-wrap i {
    margin-top: 40px;
    transition: all 0.3s ease;
}
.islas-wrap:hover i {
    color: #e66f69;
}
.islas-wrap p {
    padding: 0px 40px;
    font-size: 13px;
}
.islas-wrap h3 {
    margin: 10px 0px;
}
.pe-dj {
    font-size: 5em;
}

.row {
    display:flex;
    justify-content:center;
    align-content:center;
}
    
.accordion {
    display:inline-block;
    cursor: pointer;
    padding: 18px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-right:5px;
    margin-left.5px
    outline: none;
    transition: 0.4s;
    
}

#boga {
        background:url('Imagenes/Isla Boga.jpg') no-repeat;
        background-position:center;
}

#bauhaus {
        background:url('Imagenes/Isla Bauhaus.jpg') no-repeat;
        background-position:center;
}

#jaula {
        background:url('Imagenes/Isla Jaula.jpg') no-repeat;
        background-position:center;
}

#pieza {
        background:url('Imagenes/Isla Pieza.jpg')no-repeat;
        background-position:center;
}
#fad {
        background:url('Imagenes/Isla Fad.jpg')no-repeat;
        background-position:center;
}


.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    max-width:0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: max-width 0.2s ease-out;
}

/* ///////////////////////////////////////////////////////////////////// 
//  05 - Footer 
/////////////////////////////////////////////////////////////////////*/



footer {
    width: 100%;
    background: #000;
    color: #fff;
}
.copyright {
    margin: 0;
    padding: 20px 0px;
    text-align: left;
}
.designed {
    margin: 0;
    padding: 20px 0px;
    text-align: right;
}
.designed a:hover {
    color: #e66f69;
}

